<section class="main-content panorama clear-fix">
<div class="content-wrapper tiles ">

    <section class="tile-group three-wide first ">
<div class="tiles" id="tilewall">
    <weather class="hstile" params="color: 'blue', zipcode: '89135', refresh: 18000000, unit: 'f'"></weather>
    <hsthermostat class="hstile" params="ref: 324"></hsthermostat>
    <hsthermostat class="hstile" params="ref: 312"></hsthermostat>
    <hsthermostat class="hstile" params="ref: 300"></hsthermostat>
    <clock class="hstile" params="color: 'yellow'"></clock>
        </div>
    </section>
    <section class="tile-group three-wide">
    <div class="tiles">   
    <hsdevice class="hstile" id="garage_hall_light" params="ref: 217, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" id="kitchen_light" params="ref: 218, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" id="stair_light" params="ref: 220, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 230, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 215, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 434, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 298, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 229, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 226, color: 'steel'"></hsdevice>

    <hsdevice class="hstile" params="ref: 216, color: 'steel'"></hsdevice>

    <hsstatusdevice class="hstile" params="ref: 243, color: 'steel'"></hsstatusdevice>
    <hstextstatusdevice class="hstile" id="sensorTemp" params="ref: 477, color: 'steel'"></hstextstatusdevice>

    <webpage params="sites: [{ site: 'Google', url: 'www.google.com'}, 
                                  {site: 'Yahoo', url: 'www.yahoo.com'}]"></webpage>
     

    <!--<staticimage id="camera2" params="imageName: '/netcam/CurrentImage.jpg', 
                                        refresh: 10000"></staticimage>-->
    
    <hsevent class="hstile" id="lights off" params="group: 'Auto Lights Off', event: 'All Off',  
                                                    icon:  '/images/HomeSeer/status/on.gif'"></hsevent>
        </div> 
</section>
    </div>    
</section>    
