<div class="tile bg-steel fg-white" data-role="tile" data-bind='attr: {"class": classInfo}'>
        <div class="tile-content iconic" data-bind='event: {click: toggleSite}'>
            <p class="v-align-top align-center margin5" data-bind="text: siteName"></p>
            <p class="align-center">Load Webpage</p>
            <img class="icon" data-bind="attr:{src: icon}, visible: iconIsVisible" />
            <!-- ko ifnot: iconIsVisible -->
                        <span class="mif-earth mif-2x" style="position:absolute;top:50%;left: 50%;transform: translate(-50%,-50%);margin-right: -50%; -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);"/>

            <!-- /ko -->
        </div>
</div>