<div class="live-tile three-wide two-tall" data-mode="flip" data-delay="4000" id="weather">
    <div>
        <span class="tile-title" data-bind="text: city"></span>
<p>
                    <img data-bind="attr:{src: image}" />

                    Temp: <span class="metroSmall" data-bind="text: temp()"></span></br>
    Currently: <span class="metroSmall" data-bind="text: status"></span></br>
                    Wind Dir: <span class="metroSmall" data-bind="text: windDirection"></span>

</p>
    </div>
    <div>
        <span class="tile-title" data-bind="text: city"></span>
    </div>
</div>