<div class="tile-wide fg-white" data-bind='attr: {"class": classInfo}'>
    <div class="tile-content iconic" id="clock">
        <div class="cell auto-size padding20">
            <span class="mif-alarm mif-2x" style="left: 50%;transform: translate(-50%,0%);margin-right: -50%;"></span>
            <!--<div class="clock">-->
            <h3 id="Date"></h3>
            <ul class="clock">
                <li id="hours"></li>
                <li id="point">:</li>
                <li id="min"></li>
                <li id="point">:</li>
                <li id="sec"></li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</div>