<div class="live-tile one-wide two-tall" data-bind='event: {click: toggleDevice}, attr: {"id": ref}, attr: {"class": classInfo}'>
    <!--ko with: device -->
    <span class="tile-title align-" data-bind="text: deviceName"></span>
    <p style='position:absolute;font-size:10pt; top:2px;right:3px;' data-bind="text: statusLabel"></p>
    <p style="font-size: 6pt; position:absolute; top: 35px; left: 0px" data-bind="text: location"></p>
    <!-- /ko -->
    <p style='position:absolute;top:15px;left:1px;font-size: 10pt' data-bind="text: ambientTemp"></p>
    <p style='position:absolute;top:15px;left:40px;font-size: 10pt' data-bind="text: status"></p>
    <p class="align-mid" style='font-size: 30pt;' data-bind="text: setpoint" />

    <p style='position:absolute;bottom:8px;right:3px;' data-bind="text: humidity" />
    <img src='img/humidity.png' style='position:absolute;bottom:23px;right:33%;height:14px;width:14px' data-bind="visible: humidityIsVisible" />
    <img style='position:absolute;top:2px;left:5px;height:16px; width:16px' data-bind="attr:{src: modeIcon}" />
    <input style='position:absolute;left:40%;top:20%;' type="image" src="img/up.png" id="up" data-bind="event: {click: rangeUp, touchstart: rangeUp}">
    <input style='position:absolute;left:40%;bottom:25%;' type="image" src="img/down.png" id="down" data-bind="event: {click: rangeDown, touchstart: rangeDown}">
</div>