<div class="tile-wide" data-role="tile" data-bind='attr: {"class": classInfo}'>
    <div class="tile-content" data-bind='attr: {"id": ref}'>
        <!-- ko if: setPointIsVisible -->
        <div style="width:220px;height:150px;float:left;position:relative" data-bind='event: {click: toggleDevice}'>
            
            <!--ko with: device -->
            <span class="tile-label-center" data-bind="text: deviceName"></span>
            <!-- /ko -->
            
            <span class="absolute-center" style="font-size:32px" data-bind="text: ambientTemp"></span>
            <span class="horizontal-center" style="bottom:20%;font-size: 12pt; font-weight: bold;" data-bind="text: operatingStatus, visible: setPointIsVisible"></span>

            <div id="status_bar" style="position:absolute;width:220px;height:25px;top:3px;left:3px">
                <table width="100%;table-layout: fixed;">
                    <tr>
                        <td style="width: 25%;">
                            <!--ko with: device -->
                            <span style='font-size:10pt' data-bind="text: statusLabel" />
                            <!-- /ko -->
                        </td>
                        <td style="width: 25%;">
                            <span style='font-size:10pt' data-bind="text: valveStatus" />
                            <img src='img/valve.png' style='height:14px;width:14px' data-bind="visible: valveIsVisible" />
                        </td>
                        <td style="width: 25%;">
                            <span style='font-size:10pt' data-bind="text: batteryStatus" />
                            <img src='img/battery.png' style='height:14px;width:14px' data-bind="visible: batteryIsVisible" />
                        </td>
                        <td data-bind="visible: humidityIsVisible" style="width: 25%;">
                            <span style="font-size:10pt" data-bind="text: humidity() " />
                            <span class="mif-water" />
                        </td>
                    </tr>
                    <tr colspan="4" data-bind="visible: locationIsVisible"  >
                        <td>
                         <!--ko with: device -->
                        <span class="uppercase" style="font-size:10pt" data-bind="text: location" />
                        <!-- /ko -->
                        </td>    
                    </tr>                    
                </table>
            </div>

            <span class="mif-spinner mif-ani-spin" style='position:absolute;top:40px;right:10px;' data-bind="visible: pendingIsVisible"></span>
        </div>
        
        <div style="width:90px;height:150px;float:right;position:relative" data-bind="visible: setPointIsVisible">
            <div class="vertical-line" style="height: 131px;top:5%;" />
            <div style="width:90px;height:60px;top:0px;position:absolute" data-bind="event: {click: rangeUp}">
                <input type="image" src="img/up.png" style='position:absolute;top:5%;left: 50%;margin-right: -50%;transform: translate(-50%, 0%) ' id="up">
<!--             <button class="button cycle-button bg-grayLighter" style='position:absolute;top:5%;left: 50%;margin-right: -50%;transform: translate(-50%, 0%) ' id="up">&#9651;
                </button>-->
            </div>
            <div style="width:90px;height:60px;bottom:0px;position:absolute" data-bind="event: {click: rangeDown}">
                <input type="image" src="img/down.png" style='position:absolute;bottom:5%;left: 50%;margin-right: -50%;transform: translate(-50%, 0%) ' id="down">
<!--             <button class="button cycle-button bg-grayLighter" style='position:absolute;bottom:5%;left: 50%;margin-right: -50%;transform: translate(-50%, 0%) ' id="down">&#9661;
                </button>-->
            </div>
            <p class="absolute-center" style='font-size:18pt;' data-bind="text: setpoint" />
        </div>
        <!-- /ko -->

        <!-- ko ifnot: setPointIsVisible -->
        <div style="width:310px;height:150px;float:left;position:relative" data-bind='event: {click: toggleDevice}'>
            <!--ko with: device -->
            <span class="tile-label-center" data-bind="text: deviceName"></span>
            <!-- /ko -->

            <span class="absolute-center" style="font-size:32px" data-bind="text: ambientTemp"></span>
            <span class="horizontal-center" style="bottom:20%;font-size: 12pt; font-weight: bold;" data-bind="text: operatingStatus, visible: setPointIsVisible"></span>

            <div id="status_bar" style="position:absolute;width:310px;height:25px;top:3px;left:3px">
                <table width="100%;table-layout: fixed;">
                    <tr>
                        <td style="width: 25%;">
                            <!--ko with: device -->
                            <span style='font-size:10pt' data-bind="text: statusLabel" />
                            <!-- /ko -->
                        </td>
                        <td style="width: 25%;">
                            <span style='font-size:10pt' data-bind="text: valveStatus" />
                            <img src='img/valve.png' style='height:14px;width:14px' data-bind="visible: valveIsVisible" />
                        </td>
                        <td style="width: 25%;">
                            <span style='font-size:10pt' data-bind="text: batteryStatus" />
                            <img src='img/battery.png' style='height:14px;width:14px' data-bind="visible: batteryIsVisible" />
                        </td>
                        <td data-bind="visible: humidityIsVisible" style="width: 25%;">
                            <span style="font-size:10pt" data-bind="text: humidity() " />
                            <span class="mif-water" />
                        </td>
                    </tr>
                    <tr colspan="4" data-bind="visible: locationIsVisible">
                        <td>
                         <!--ko with: device -->
                        <span class="uppercase" style="font-size:10pt" data-bind="text: location " />
                         <!-- /ko -->
                        </td>    
                    </tr>
                </table>
            </div>
            <span class="mif-spinner mif-ani-spin" style='position:absolute;top:40px;right:10px;' data-bind="visible: pendingIsVisible"></span>
        </div>
        <!-- /ko -->
    </div>
</div>