<div class="tile" id="weather" >
    <div>
        <span class="tile-title" data-bind="text: city"></span>
        <p>
            <img data-bind="attr:{src: image}" /> Temp: <span class="metroSmall" data-bind="text: temp()"></span>
            </br>
            Currently: <span class="metroSmall" data-bind="text: status"></span>
            </br>
            Wind Dir: <span class="metroSmall" data-bind="text: windDirection"></span> </br>
            Wind Speed: <span class="metroSmall" data-bind="text: windSpeed"></span>

        </p>
    </div>
</div>